{% extends "./base.html" %}
{% load static %}

{% block content %}
    
        <!-- Background image -->
        <div class='bg-image bgded' style="margin-top: -80px; height: 100vh">
            <!-- Mask -->
            <div class="mask" style="background-color: hsla(0, 0%, 0%, 0.4)">
                <!-- Call to action -->
                <div class="container d-flex justify-content-center align-items-center h-100">
                    <div class="text-white text-center">
                        <h1 class="mb-3">New York Hiker</h1>
                        <h5 class="mb-4">Hiking Mountains in New York and the Northeast</h5>
                        <a class="btn btn-rounded btn-success btn-lg m-2" data-ripple-color="primary" href="#" role="button">Most Recent Hikes<i class="fas fa-hiking ms-2"></i></a>
                    </div>
                </div>
            </div>
        </div>
      

{% endblock content %}