{% load static %}

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle text-secondary fw-bold" href="#" id="navbarDropdown" role="button" data-mdb-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        About NYHiker
    </a>
    <div class="dropdown-menu navbar-green navbar-dark" aria-labelledby="navbarDropdown">
        <a class="dropdown-item text-secondary fw-bold" href="#">Why do Hiking Challenges?</a>
        <a class="dropdown-item text-secondary fw-bold" href="#">Other Resources</a>
        <!-- <a class="dropdown-item text-secondary fw-bold" href="#">Computer Programming</a>
        <a class="dropdown-item text-secondary fw-bold" href="#">Computer Builds and Hardware</a>
        <a class="dropdown-item text-secondary fw-bold" href="#">Soccer Refereeing</a> -->
    </div>
</li>  
<li class="nav-item">
    <a class="nav-link text-secondary fw-bold" href="#">Contact</a>
</li>
