<div class="row">
    <div class="col">
        <div class="progress">
            {% if decimal < .25 %}
                <div class="progress-bar bg-success" role="progressbar" style="width: {{ pct }}" aria-valuenow="{{ value }}" aria-valuemin="0" aria-valuemax="{{ max_value}}"></div>
            {% elif decimal < .5 %} 
                <div class="progress-bar bg-warning" role="progressbar" style="width: {{ pct }}" aria-valuenow="{{ value }}" aria-valuemin="0" aria-valuemax="{{ max_value}}"></div>
            {% elif decimal < .75  %} 
                <div class="progress-bar bg-difficult" role="progressbar" style="width: {{ pct }}" aria-valuenow="{{ value }}" aria-valuemin="0" aria-valuemax="{{ max_value}}"></div>
            {% else %} 
                <div class="progress-bar bg-very-difficult" role="progressbar" style="width: {{ pct }}" aria-valuenow="{{ value }}" aria-valuemin="0" aria-valuemax="{{ max_value}}"></div>
            {% endif %}
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="progress-desc">
            <div style="float:left">0</div>
            <div style="float:right">{{ max_value }}</div>
            <div style="float:none; width: {{ pct }}; overflow: hidden;">{{ value }}</div>
        </div>
    </div>
</div>