asgiref==3.6.0
Django==4.1.6
django-appconf==1.0.5
django-compressor==4.3.1
django-libsass==0.9
git-filter-repo==2.38.0
libsass==0.22.0
numpy==1.24.2
opencv-python==4.7.0.68
psycopg2-binary==2.9.5
rcssmin==1.1.1
rjsmin==1.2.1
sqlparse==0.4.3
